@import "../fonts";
@import "../variables";
@import "../functions";

.congratulation{
    @include size($width-main, $height-main);
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(163, 229, 187) 0%, rgb(94, 174, 127) 51%, rgb(55, 128, 107) 100%);;
    &__wrap{
        @include size(600,600);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(157, 127, 255);
        box-shadow: find_size(160, 100vw, $width-main) find_size(160, 100vh, $height-main) 0 0  rgba(6, 3, 3, 0.208);
        animation: ColorPulse 5s infinite;
        &-text{
            @include size(500,500);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(127, 255, 212);
        }
    }
    &__text{
        font-family: Monda;
        @include font_size(40,50);
        font-weight: 700;
        text-align: center;
        color:#201889;
    }
}

@keyframes ColorPulse {
    0% {
        background-color:  rgb(172, 230, 215);
        box-shadow: find_size(160, 100vw, $width-main) find_size(160, 100vh, $height-main) 0 0  rgba(6, 3, 3, 0.208);
    }
    20%{
        background-color: rgb(100, 100, 100);
        box-shadow: find_size(120, 100vw, $width-main) find_size(120, 100vh, $height-main) 0 0  rgba(6, 3, 3, 0.208);

    }
    40%{

    }
    60%{
        background-color:rgb(157, 127, 255);
        box-shadow: find_size(80, 100vw, $width-main) find_size(80, 100vh, $height-main) 0 0  rgba(6, 3, 3, 0.208);
    }
    80%{
        background-color:  rgb(55, 128, 107);
        box-shadow: find_size(120, 100vw, $width-main) find_size(120, 100vh, $height-main) 0 0  rgba(6, 3, 3, 0.208);
    }
   
  }