@import "../fonts";
@import "../variables";
@import "../functions";

.nav-bar{
    &__wrap{
        position: relative;
        @include size(0, 168.98);
        width: 100%;
        background-color: #FFFFFF;
    }
    
    @include size(1343.83,46.04);
    @include margin(102.86, 314.59, 20, 261.58);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    &__link{
        &:hover{
            border: find_size(3,100vh,$height-main) solid $butn-color;
            border-radius: border_rad(20);
        }
        border: find_size(3,100vh,$height-main) solid transparent;
        border-radius: border_rad(20);
        @include padding(11,11,11,11);

        display: flex;
        justify-content: center;
        align-items: center;
        
        &-text{
            text-align: center;
            font-family: OpenSans;
            font-weight: 600;
            @include font_size(16, 21.79);
            color: #111111;
            &:hover{
                color: $text-color;
            }
            &:hover{
                color: $butn-color;
            }
        }
        
    }
    &__links{
        &-wrap{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include size(648.95,21.55);
        @include margin(0, 63.9, 0, 0);
    }
    &__logo{
        @include size(150.76, 146.04);
    }
    &__button{
        @include size(96.84, 31.35);
        background-color: $butn-signUp-color;
        border-radius: 15px 0px;
        border: none;
        &-text{
            color:#FFFFFF;
            font-family: OpenSans;
            font-weight: 600;
            @include font_size(16, 22);
        }

    }
    
}

