@import "../fonts";
@import "../variables";
@import "../functions";

.footer{
    width: 100%;
    @include padding(93,0,18,0,$width-medium, $height-medium);
    background-color: $background-color;
    position: relative;
    &__main-part{
        display: flex;
        flex-direction: row;
       justify-content: center;
       @include margin(0,0,69,0,$width-medium, $height-medium);
    }
    &__logo{
        @include size(151,47,$width-medium, $height-medium);
        @include margin(0,0,5,0,$width-mini, $height-mini);
        &-section{
            @include size(173, 100,$width-medium, $height-medium);
            height: fit-content;
            @include margin(0,10,0,0,$width-mini, $height-mini);
        }
    }
    &__descr{
        font-family: OpenSans;
        font-weight: 500;
        @include font_size(12,18, $height-medium);
        color: $text-color;
    }
    &__links-wrap{
        @include margin(0, 10, 0, 0,$width-medium, $height-medium);
    }
    &__headline{
        font-family: OpenSans;
        font-weight: 600;
        @include font_size(14,20, $height-mini);
        color: $header-color;
    }
    &__link{
        &-text{
            font-family: OpenSans;
            font-weight: 400;
            @include font_size(12,14, $height-mini);
            color: $text-color;
        }
    }
    &__adress-box{
        @include size(50,213,$width-mini, $height-mini);
        height: fit-content;
    }
    &__line{
        color: $divider-color;
        width: 100%;
        border: 1px solid;
    }
    &__rights-wrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__rights-info{
        color: $text-color;
        @include font_size(18,25, $height-medium);
        font-family: OpenSans;
        font-weight: 400;
    }
    &__special-text{
        color: $butn-color;
    }
    &__decoration{
        @include size(212.55, 153.55,$width-medium, $height-medium);
        position: absolute;
        left: find_size(13,100vw, $width-medium);
        top: find_size(-84, 100vh, $height-medium);
    }
}