@font-face {
  font-family: OpenSans;
  src: url("/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Raleway;
  src: url("/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: Monda;
  src: url("/fonts/Monda/Monda-Regular.ttf");
}
.our-service-section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 13.2555555556vh;
  margin-left: 0;
  position: relative;
}

.our-service__decoration {
  position: absolute;
  width: 12.8005208333vw;
  height: 23.5694444444vh;
  right: -1.4776041667vw;
  bottom: 0;
}
.our-service__tag-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.8518518519vh;
  line-height: 2.5925925926vh;
  color: #646464;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 11.7697916667vw;
}
.our-service__header {
  font-family: Poppins;
  font-weight: 500;
  font-size: 4.4444444444vh;
  line-height: 7.2222222222vh;
  color: #212121;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 11.7697916667vw;
}
.our-service__filters {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10.2490740741vh;
  margin-left: 11.7697916667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.our-service__filter {
  margin-top: 0;
  margin-right: 4.0557291667vw;
  margin-bottom: 0;
  margin-left: 0;
  background-color: #37806B;
  width: 10.7640625vw;
  height: 4.262962963vh;
  border-radius: 1.25rem;
}
.our-service__filter-text {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 1.4814814815vh;
  line-height: 7.2222222222vh;
  color: #FFFFFF;
}
.our-service__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our-service__card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0.4166666667vw 1.8518518519vh rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0.4166666667vw 1.8518518519vh rgba(0, 0, 0, 0.14);
  border-radius: 3.75rem 0px;
  width: 21.4807291667vw;
  height: 11.9259259259vh;
  padding-top: 2.6314814815vh;
  padding-right: 1.2583333333vw;
  padding-bottom: 0.6805555556vh;
  padding-left: 2.1166666667vw;
  margin-top: 4.1018518519vh;
  margin-right: 2.3177083333vw;
  margin-bottom: 4.1018518519vh;
  margin-left: 2.3177083333vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.our-service__card_architect {
  background-color: #CAA892;
}
.our-service__card p[class$=_architect] {
  color: #FFFFFF;
}
.our-service-card__wrapper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.our-service-card__image {
  margin-top: 0;
  margin-right: 1.1458333333vw;
  margin-bottom: 0;
  margin-left: 0;
  width: 2.2880208333vw;
  height: 2.6324074074vh;
}
.our-service-card__text-wrapper {
  width: 17.5vw;
  height: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.our-service-card__header {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 2.2222222222vh;
  line-height: 1.8518518519vh;
  color: #212121;
}
.our-service-card__text {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 1.6666666667vh;
  line-height: 2.5925925926vh;
  color: #646464;
}

.active {
  background-color: #FFFFFF;
  border: solid 0.3125rem #37806B;
}
.active-text {
  color: #37806B;
}/*# sourceMappingURL=our-service-section.css.map */