@font-face {
  font-family: OpenSans;
  src: url("/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Raleway;
  src: url("/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: Monda;
  src: url("/fonts/Monda/Monda-Regular.ttf");
}
.ad-section {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 35.4338575393vh;
  margin-left: 0;
  position: relative;
  padding-top: 31.421112139vh;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.ad-section__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.ad__decoration {
  position: absolute;
  width: 10.8695652174vw;
  height: 24.7375886525vh;
  left: -2.4051803885vw;
  bottom: 0;
}
.ad__left-wrap {
  width: 55.5407894737vw;
  height: 115.4035087719vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 18.7134502924vh;
  margin-right: 6.0526315789vw;
  margin-bottom: 4.6783625731vh;
  margin-left: 6.1842105263vw;
}
.ad__tag-anchor {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3.6936992497vh;
  margin-left: 0;
}
.ad__tag-text {
  font-family: OpenSans;
  font-size: 3.2891355741vh;
  line-height: 4.4798026519vh;
  color: #646464;
  font-weight: 600;
}
.ad__header-wrap {
  width: 52.7631578947vw;
  height: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.5689176688vh;
  margin-left: 0;
}
.ad__header {
  font-family: Poppins;
  color: #212121;
  font-weight: 600;
  font-size: 8.8888888889vh;
  line-height: 11.2280701754vh;
}
.ad__descr-wrap {
  width: 50.1315789474vw;
  height: 23.2912280702vh;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3.9469626889vh;
  margin-left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.ad__descr-text {
  font-family: OpenSans;
  color: #646464;
  font-weight: 400;
  font-size: 2.9602220167vh;
  line-height: 4.9337033611vh;
}
.ad__butn {
  background-color: #37806B;
  width: 19.6131578947vw;
  height: 11.0783625731vh;
  border-radius: 1.25rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ad__butn-text {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 2.9602220167vh;
  line-height: 0;
  color: #FFFFFF;
}
.ad__right-wrap {
  width: 54.625vw;
  height: 151.0058479532vh;
  position: relative;
}
.ad__picture-wrap {
  width: 52.0789473684vw;
  height: 143.4456140351vh;
  border-radius: 8.75rem 0;
  position: absolute;
  overflow: hidden;
}
.ad__picture-bordshadow {
  width: 52.0789473684vw;
  height: 143.4456140351vh;
  border: 2px solid #B0855B;
  border-radius: 8.75rem 0;
  position: absolute;
  z-index: -1;
  left: 2.5460526316vw;
  top: 7.5625730994vh;
}/*# sourceMappingURL=ad-section(mini).css.map */