$butn-signUp-color: #CAA892;
$butn-color: #37806B;
$border-el-color: #B0855B;
$background-color: #F8F8F8;
$inputs-bgr:#EEEEEE;
$socials-bgr:#D5D5D5;
$divider-color: #C4C4C4;
$text-color: #646464;
$header-color: #212121;
$header-color2:#111111;

$width-main: 1920;
$width-medium: 1061;
$width-mini: 479;
$height-main: calc(($width-main*9)/16);
$height-medium: calc(($width-medium*9)/16);
$height-mini: calc(($width-mini*9)/16);





