@import "../fonts";
@import "../variables";
@import "../functions";

.compl-work{
    width: 100%;
    height: fit-content;
    @include padding(87,0,105,0 );
    background-color: $background-color;
    &__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        height: fit-content;
    }
    &__decoration{
        position: absolute;
        @include size(212.55, 153.55);
        left: find_size(8, 100vw, $width-main);
        bottom: find_size(-76.55, 100vh, $height-main);
    }
    &__header-wrap{
        @include size(817,120);
        height:fit-content;
        @include margin(87,0,87,0);
    }
    &__header{
        font-family: Poppins;
        font-weight: 500;
        text-align: center;
        color: $header-color;
        @include font_size(48, 60);
    }
    
}